
/*pra darle estylo al titulo*/
h1 {
    color: rgb(119, 0, 255);
    text-shadow: 1px 1px 1px black;
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.1));
    padding: 3px;
    text-align: center;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset -2px -2px 5px rgba(255,255,255,0.5);
  }
/*para aplicar borde*/
  div {
    border-top: 1px ridge rgb(0, 174, 255);
    border-right: 1px ridge rgb(0, 174, 255);
    border-bottom: 1px ridge rgb(0, 174, 255);
    border-left: 1px ridge rgb(0, 174, 255);
    text-align: center;
    }
    
    .text{
    text-align: center;
    }
    h2 {
    text-align: center;
    position: relative;
    margin-left: 25%;
    background-color: rgb(255, 251, 0);
    width: 50%;
    height: 900%;

    }
    .butto{
        width: 100px;
    font-size: 20px;
    border-radius: 5px;
    }

    /*.cont1{
       /* position: relative;*/
       /*text-align: center;*/

/*


     

  /*se pone color al body*/
body{
    background: mediumaquamarine;
}
/*element.style{
 text-shadow:0 0 black;

}
html {
    overflow-x: hidden;
}
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
div {
    display: block;
}