/*para darle color a todo*/
body{
    background: mediumaquamarine;
}
/*pra darle estylo al titulo*/
h1 {
    /*para darle color al titulo*/
    color: rgb(119, 0, 255);
    /*para sombrearla letra de el titulo*/
    text-shadow: 1px 1px 1px black;
    /*sombreafdo casi tramsparente del titulo*/
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.1));
    /*padding: 3px;
    /*para centrar el titulo*/
    text-align: center;
    /*para darle bolumen an titulo*/
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset -2px -2px 5px rgba(255,255,255,0.5);
  }
/*para aplicar borde*/
  form {
      /*borde arriba*/
    border-top: 1px ridge rgb(0, 174, 255);
    /*borde derecho*/
    border-right: 1px ridge rgb(0, 174, 255);
    /*borde de abajo*/
    border-bottom: 1px ridge rgb(0, 174, 255);
    /*borde izquierdo*/
    border-left: 1px ridge rgb(0, 174, 255);
    /*para centrar contenido dentro del form*/
    text-align: center;
    }
    .text{
        margin-top: 25px;
        margin-bottom: 25px;

    }
    .bDesc{
        margin-top: 25px;
        margin-bottom: 25px;
    }
     /*se adiciona un . para llamar al text al cual se le añadio un class como identidad*/
    /*.text{
    /*text-align: center;
    }*/
    h2 {
    /*text-align: center;*/
    /*position: relative;*/
    /*para que el resultado se muestre en el medio*/
    margin-left: 25%;
    /*para darle color a la respuesta*/
    background-color: rgb(57, 79, 201);
    width: 50%;
    /*height: 900%;*/

    }
    .butto{
        width: 100px;
    font-size: 20px;
    border-radius: 5px;
    }

    /*.cont1{
       /* position: relative;*/
       /*text-align: center;*/

/*


     

  /*se pone color al body*/

/*element.style{
 text-shadow:0 0 black;

}
html {
    overflow-x: hidden;
}
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
div {
    display: block;
}